.p-introduction{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9) 70%, rgba(255, 255, 255, 1) 100%);
        bottom:0;
        content:"";
        display: block;
        height: 200px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index:5;
    }
    &__video{
        min-height: 100vh;
        min-width: 100%;
        z-index: 1;
    }
    &::before{
        background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
        background-size: 4px 4px;
        content:"";
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    &__section{
        bottom: 0;
        height: 50vh;
        left: 0;
        margin: auto;
        max-width: 80%;
        position: absolute;
        right: 0;
        top:0;
        width: 100%;
        z-index:10;
    }
    @mixin introText($color:#fff,$fSize:70px,$fWeight:bold){
        color:$color;
        font-size: $fSize;
        font-weight: $fWeight;
    }
    &__title{
        @include introText();
    }
    &__text{
        @include introText($fSize:30px,$fWeight:normal);
    }
}
@mixin sectionBlock($img){
    background:url("../images/image"+$img+".jpg") 0 0 no-repeat;
    background-size: cover;
    padding: 50px;
}
.p-explan{
    @include sectionBlock($img:'01');
    &__title{
        margin: 0 0 20px;
    }
    &__title > span{
        background: $themeColor;
        color: #fff;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        padding: 10px;
    }
    &__block-title > span{
        background: rgba(220, 20, 60, .5);
        color: #fff;
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
    }
    &__block{
        background: rgba(0,0,0,.5);
        color: #fff;
        padding: 10px 20px 20px;
    }
    &__block-item{
        font-size: 20px;
        margin: 10px 0 0;
    }
}
.p-second{
    @include sectionBlock($img:'02');
}