.fade-in-left{
    animation: duration 2s;
    animation-delay: 0;
    animation-direction: 1;
    animation-direction: normal;
    animation-fill-mode:forwards;
    animation-name:fade-in-left;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes fade-in-left{
    0%{
        opacity: 0;
        transform:translateX(-100px);
    }
    100%{
        opacity: 1;
        transform:translateX(0);
    }
}