.u-fade-in-left{
    opacity: 0;
    &.is-show{
        animation: duration 2s;
        animation-delay: 0;
        animation-direction: 1;
        animation-direction: normal;
        animation-fill-mode:forwards;
        animation-name:fade-in-left;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
    }
    @keyframes fade-in-left{
        0%{
            opacity: 0;
            transform:translateX(-50px);
        }
        100%{
            opacity: 1;
            transform:translateX(0);
        }
    }
}

.u-fade-in-bottom{
    opacity: 0;
    &.is-show{
        animation: duration 2s;
        animation-delay: 0;
        animation-direction: 1;
        animation-direction: normal;
        animation-fill-mode:forwards;
        animation-name:fade-in-bottom;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
    }
    @keyframes fade-in-bottom{
        0%{
            opacity: 0;
            transform:translateY(20px);
        }
        100%{
            opacity: 1;
            transform:translateY(0);
        }
    }
}