header{
    background:$themeColor;
    color: #fff;
}

#header{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width:1000px;
}
.header__title01{
    padding: 0 20px;
}
.gnav__list{
    display: flex;
}
.gnav__item{
    padding: 0 0 0 20px;
}
.gnav__item > a{
    color:#fff;
}
